@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:900&display=swap");

/* Global Styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Typography */

a {
  color: #fff;
  text-decoration: none;
}

.grey {
  color: #666;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

h1 {
  font-size: 38px;
  font-weight: 300;
}

/* Layout - Spacing */

.inline {
  display: inline;
}

.mb-micro {
  margin-bottom: 10px;
}

.mr-micro {
  margin-right: 10px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.mb-3 {
  margin-bottom: 60px;
}

.mb-4 {
  margin-bottom: 80px;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(240, 240, 240);
}

/* NAVIGATION Styles */

.container {
  max-width: 1024px;
  margin: 100px auto;
}
/*



*/
.badge {
  background-color: #ffbd3e;
  border: 1px solid rgb(43, 43, 43);
  padding: 0 4px;
  border-radius: 3px;
  margin: 0 4px;
  color: rgb(27, 27, 27);
  font-weight: bold;
}

/* PRODUCT-CARD Styles */

.products-list {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  margin-top: 100px;
}

.product-card {
  text-align: center;
  padding: 20px;
  width: 320px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
  margin-bottom: 20px;
  margin-right: 20px;
}

.product-image img {
  width: 250px;
  margin-bottom: 10px;
}

.product-title {
  font-weight: 300;
}

.product-price {
  margin-bottom: 10px;
  font-weight: 300;
}

.btn {
  border: 2px solid #ffbd3e;
  background-color: #ffbd3e;
  padding: 8px 40px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-secondary {
  border: 2px solid #050024;
  background-color: #050024;
  padding: 8px 40px;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
}

.btn-danger {
  border: 2px solid #ff7b7b;
  background-color: #ff7b7b;
  padding: 0 10px;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  display: block;
}

.btn-danger-outline {
  border: 2px solid #ff7b7b;
  color: #ff7b7b;
  background-color: transparent;
  padding: 8px 40px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-outline {
  border: 2px solid #ffbd3e;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 50px;
  color: #ffbd3e;
  cursor: pointer;
}

.btn-plus {
  border: 1px solid black;
  border-radius: 40px;
  padding: 1px 5px;
  background: transparent;
  cursor: pointer;
}

.btn-minus {
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 7px;
  background: transparent;
  cursor: pointer;
}

/* =================================================*   
 *                                                  *  
 *   SECOND PAGE ==> PRODUCT DESCRIPTION PAGE       *
 *                                                  *
 * =================================================*/

.product-page {
  display: flex;
  justify-content: space-between;
}

.product-image-big {
  margin-right: 100px;
}

/* =================================================*   
 *                                                  *  
 *   THIRD PAGE ==> CHECKOUT PAGE                   *
 *                                                  *
 * =================================================*/
.checkout {
  display: flex;
  justify-content: space-between;
}

.checkout-product {
  width: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}

.chechout-product-img {
  display: inline-block;
}

.chechout-product-info {
  display: inline-block;
}

.chechout-product-img img {
  width: 100px;
}

.checkout-card {
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}

.in-between {
  display: flex;
  justify-content: space-between;
}

.burger {
  opacity: 0;
  width: 30px;
  background: transparent;
  border: none;
  display: inline-block;
  margin-left: auto;
}

.toggle {
  opacity: 0;
}

/* =================================================*   
 *                                                  *  
 *   MEDIA QUERIES                                  *
 *                                                  *
 * =================================================*/

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  body {
    overflow-x: hidden;
  }

  .burger {
    opacity: 1;
  }

  .container {
    width: 300px;
    margin: 0 auto;
  }

  .logo {
    margin: 5px auto;
  }

  .navbar {
    height: auto;
  }

  .navbar-elements {
    margin: 10px auto;
  }

  .search-input {
    width: 80px;
  }

  .products-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product-page {
    display: flex;
    flex-direction: column;
  }

  .product-image-big {
    margin: 20px auto;
  }

  .product-image-big img {
    margin: 20px auto;
    width: 310px;
  }

  .product-card {
    margin: 20px auto;
  }

  .checkout {
    display: flex;
    flex-direction: column-reverse;
  }

  .checkout-product {
    width: auto;
  }

  .checkout-card {
    width: auto;
  }

  .btn-secondary {
    padding: 8px 20px;
  }

  .btn-danger-outline {
    padding: 8px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 740px;
    margin-top: 70px;
  }

  body {
    overflow-x: hidden;
  }

  .burger {
    opacity: 1;
    width: 20px;
    background: transparent;
    border: none;
    display: inline;
  }

  .line {
    width: 20px;
    height: 2px;
    background: #ffffff;
    margin: 3px;
  }

  .product-image-big {
    margin: 20px auto;
  }

  .product-image-big img {
    margin: 20px auto;
  }

  .checkout {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .checkout-card {
    margin: 20px auto;
  }

  .checkout-product {
    margin: 20px auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 992px;
    margin: 80px auto;
  }

  .product-card {
    width: 300px;
  }
}

.active {
  transform: translateX(0);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
