@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(240, 240, 240);
}

a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
